@inject IStringLocalizer<Home> Loc
@page "/"

<PageTitle>@Loc["Title"]</PageTitle>

<RadzenLayout>
    <RadzenHeader class="p-1">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.End">
            <div>
                <RadzenImage Path="favicon.png" Style="height: 32px; width:32px"></RadzenImage>
                <RadzenLabel>@Loc["Header"]</RadzenLabel>
            </div>
            <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="menu" Click="@OpenContextMenu" Text="@SelectedProfile.Name"></RadzenButton>
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody>
        <RadzenRow>
            <RadzenColumn Size="12" Visible="@(SelectedProfile is not null)">
                <RadzenFieldset AllowCollapse="true">
                    <HeaderTemplate><RadzenLabel>@Loc["ParametersSectionHeader"]</RadzenLabel></HeaderTemplate>
                    <ChildContent>
                        <RadzenRow Gap="1rem" style="max-width: 800px">
                            <div>@Loc["IntroText"]</div>
                            <div>@((MarkupString)Loc["HTMLMoreInfoText"].Value)</div>
                            <RadzenColumn Size="12">
                                <RadzenRow>
                                    <RadzenColumn Size="12" SizeSM="6">
                                        <RadzenFormField Text="@Loc["FirstEntryLabel"]" Variant="Variant.Filled">
                                            <RadzenDatePicker DateFormat="d" @bind-Value="@SelectedProfile!.TemporaryDate" TValue="DateTime?"></RadzenDatePicker>
                                        </RadzenFormField>
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeSM="6">
                                        <RadzenFormField Text="@Loc["PRLabel"]" Variant="Variant.Filled">
                                            <RadzenDatePicker DateFormat="d" @bind-Value="@SelectedProfile!.PRDate" TValue="DateTime?"></RadzenDatePicker>
                                        </RadzenFormField>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenColumn>
                            <RadzenColumn Size="12">
                                <div>@Loc["ExclusionPeriodText"]</div>
                                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="@Loc["AddPeriodLabel"]" Click="@InsertRow" />
                                <RadzenDataGrid id="outOfCountryDataGrid" @ref="outOfCountryDataGrid" TItem="Period" Data="@SelectedProfile?.OutOfCountry" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" AllowSorting="true">
                                    <Columns>
                                        <RadzenDataGridColumn Title="@Loc["TablePeriodNameHeaderTitle"]" Width="100%" MinWidth="100px" Property="Name" Sortable="false">
                                            <EditTemplate Context="period">
                                                <RadzenTextBox @bind-Value="period.Name" Style="min-width:200px; display: block;" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Title="@Loc["TablePeriodBeginHeaderTitle"]" Sortable="true" Width="150px" Property="Begin" FormatString="{0:d}" SortOrder="SortOrder.Descending">
                                            <EditTemplate Context="period">
                                                <RadzenDatePicker @bind-Value="period.Begin" DateFormat="d" Style="width:150px; display: block;" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn Title="@Loc["TablePeriodEndHeaderTitle"]" Width="150px" Property="End" FormatString="{0:d}" Sortable="false">
                                            <EditTemplate Context="period">
                                                <RadzenDatePicker @bind-Value="period.End" DateFormat="d" Style="width:150px; display: block;" />
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn FrozenPosition="FrozenColumnPosition.Right" Title="@Loc["TablePeriodActionHeaderTitle"]" MinWidth="100px" Sortable="false">
                                            <Template Context="period">
                                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(period))" @onclick:stopPropagation="true">
                                                </RadzenButton>
                                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(period))" @onclick:stopPropagation="true">
                                                </RadzenButton>
                                            </Template>
                                            <EditTemplate Context="period">
                                                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(period))" aria-label="Save">
                                                </RadzenButton>
                                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(period))" aria-label="Cancel">
                                                </RadzenButton>
                                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(period))" aria-label="Delete">
                                                </RadzenButton>
                                            </EditTemplate>
                                        </RadzenDataGridColumn>
                                    </Columns>
                                </RadzenDataGrid>
                            </RadzenColumn>
                        </RadzenRow>
                    </ChildContent>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow Visible="@(Result is not null)">
            <RadzenColumn Size="12">
                <RadzenFieldset AllowCollapse="true">
                    <HeaderTemplate><RadzenLabel>@Loc["ResultSection"]</RadzenLabel></HeaderTemplate>
                    <ChildContent>
                        <RadzenColumn Size="12">
                            <RadzenLabel>@string.Format(Messages.BeginTemporaryFormat, Result!.StartTemporary)</RadzenLabel>
                        </RadzenColumn>
                        <RadzenColumn Size="12">
                            <RadzenLabel>@string.Format(Messages.TotalTemporaryFormat, Result!.TemporaryDays)</RadzenLabel>
                        </RadzenColumn>
                        <RadzenColumn Size="12">
                            <RadzenLabel>@string.Format(Messages.TotalPRFormat, Result!.PRDays)</RadzenLabel>
                        </RadzenColumn>
                        <RadzenColumn Size="12">
                            <RadzenLabel>@string.Format(Messages.RemainingFormat, Result!.RemainingDays)</RadzenLabel>
                        </RadzenColumn>
                        <RadzenColumn Size="12">
                            <RadzenLabel>@string.Format(Messages.ProjectedApplyDateFormat, Result!.ProjectedDate)</RadzenLabel>
                        </RadzenColumn>
                        <RadzenColumn Size="12">
                            <RadzenDatePicker TValue="DateOnly" DateRender="@ComputeDateResult" Inline="true" />
                        </RadzenColumn>
                    </ChildContent>
                </RadzenFieldset>
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
</RadzenLayout>

